[submodule "third_party/ascend/AscendNPU-IR"]
	path = third_party/ascend/AscendNPU-IR
	url = https://gitcode.com/Ascend/AscendNPU-IR.git
    depth = 1
[submodule "third_party/ascend/Triton-distributed-ascend"]
	path = third_party/ascend/Triton-distributed-ascend
	url = https://gitcode.com/Ascend/Triton-distributed-ascend.git
    depth = 1
