.wy-nav-content {
    max-width: 99%;
}

.wy-nav-content img {
    max-width: 100%;;
    height: auto;
}

table.docutils {
    margin-left: 0 !important;
    margin-right: auto !important;
}